body{
    font-family: "Tenor Sans", sans-serif ;
    font-weight: bold;
    background-color: #FFDBE9;
    color: #A02753;
}

h1, h4, h5, h6 {
    font-family: "Elsie", serif;
    font-size:60pt;
    text-align: center;
    color: #A02753;
}
h2{
    font-family: "Elsie", serif;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30px;
    line-height: 2rem ;
}

h3 {
    font-family: "Elsie", serif;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30px;
    line-height: 2rem;
    color: #005161;
}

header{
    text-align: center;
}

#hero, footer {
    text-align: center;
    background-color: #E7F3F3;
    color: #005161;
    font-size: 18pt;
    font-weight: bold;
    border: #005161 6px solid;
    padding: 10px;
    border-radius: 15px;
}

footer{
    font-size: 15pt;
    margin: 6px;
}

#hero img{
    width: 300px;
}

#bio{
    text-align: center;
    font-size: 14pt;
    color: #A02753;
}

/* Hobbies */

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies{
ul {
     list-style: none;
     margin: auto;
     padding-bottom: 20px;
     align-content: center;
}

li{
    margin: 8px 0;
    font-size: 14pt;
}

li::before {
    content: "★ ";
    color: #A02753;
}

}

/* Gallery */

#gallery {
    background-color: #E7F3F3;
    border: #005161 6px solid;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 16pt;
    font-weight: bold;
    padding: 10px;
    color:#005161;
}

hr{
    border: #005161 2px solid ;
}


#gallery img {
    max-width: 80%;
    margin-bottom: 10px;

}

#gallery figure {
    text-align: center;

}

/* Literature */

#lit{
    max-width: 80rem;
    margin: 0 auto;
    line-height: 24px;
    padding-bottom: 1rem;
}

#lit div p {
    padding: 5px;
    clear: both;
}

/* Dropcaps */

#lit div p:first-letter{
    color: #A02753;
    float: left;
    font-size: 3em;
    font-weight: bold ;
    margin-right: .3em;
    line-height: .65;
    padding: .25em;
    border: 4px outset #A02753;
    border-radius: 0.2em;
    font-family: "Elsie", serif;
    line-height: .8;
    text-shadow: 2px 2px 4px black;
    box-shadow: 2px 2px 6px black;
    background-image: radial-gradient(#FFE0E8,#FFBDD6);

}

#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #E7F3F3;
    border: #005161 6px solid;
    border-radius: 15px;
    margin-bottom: 20px;
    color: #005161;
}

#video hr {
    border: #005161 2px solid;
    border-radius: 15px;
    width: 100%;
    display: block;
}

#myVideo {
    max-width: 100%;
    padding:20px;
    height: auto;
    aspect-ratio: 16 / 9;
}

/*contact form*/
#formElements {
    display: grid;
    row-gap: 5px;
}

#contact {
    padding: 20px;
    max-width: 600px;
    margin: 2rem auto;
    background-color: #E7F3F3;
    border: #005161 6px solid;
    border-radius: 15px;
    color: #005161;

}

fieldset {
    border: 3px solid #005161;
    margin-top: 1em;
    margin-bottom: 1em;
}

legend {
    background-color: #005161;
    color:#E7F3F3;
    padding: .5rem;

}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#phonetype {
    background-color: #E7F3F3;
}
#contact button {
    background-color: #005161;
    color: #E7F3F3;
    border: 1px solid #005161;
    max-width: 400px;
    width: 50%;
    justify-self: center;

}



/*tablet size*/
@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16pt;
        margin-left: 1rem;
    }
    figure img{
        width:100%
    }

    #lit div {
        max-width: 100%;
        columns: 20rem;
    }
}

/* larger screen */

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none
    }

    #gallery h3 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }

}
