body{
    font-family: "Tenor Sans", sans-serif;
    background-color: #F5F9FF;
    color: #1F2937;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Elsie", serif;
    font-size: 40pt;
    text-align: center;
    color: #003380;
}
h2{
   font-size: 2rem;
   margin-top: 30px;
}

header{
    text-align: center;
}

#hero, footer {
    text-align: center;
    background-color: #FFE4EE;
    color: #003380;
    font-size: 18pt;
    font-weight: bold;
    border: #003380 6px solid;
    padding: 30px;
    border-radius: 15px;
}

footer{
    font-size: 15pt;
}

#hero img{
    width: 300px;
}

#bio{
    text-align: center;
    font-size: 14pt;
    color: #003380;
}

#hobbies{
ul {
     list-style: none;
     text-align: center;
     margin: auto;
     padding-bottom: 20px;
}

li{
    margin: 8px 0;
    font-size: 13pt;
}

li::before {
    content: "★ ";
    color: #003380;
}

}

/* Gallery */

#gallery {
    background-color: #FFE4EE;
    border: #003380 6px solid;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 14pt;
    font-weight: bold;
    padding: 10px;
}

hr{
    border: #003380 2px solid ;
}


#gallery img {
    max-width: 100%;
    margin-bottom: 10px;

}

#gallery figure {
    text-align: center;

}

/* Literature */

#lit{
    max-width: 40rem;
    margin: 0 auto;
    line-height: 24px;
}

#lit div p {
    padding: 2px;
    clear: both;
}

/* Dropcaps */

#lit div p:first-letter{
    color: #003380;
    float: left;
    font-size: 3em;
    font-weight: bold ;
    margin-right: .3em;
    line-height: .65;
    padding: .25em;
    border: 4px outset #235483;
    border-radius: 0.2em;
    font-family: "Elsie", serif;
    line-height: .8;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    background-image: radial-gradient(#fff,#d3e0ef);

}
